.row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.row { display: inline-block;}
*html .row { height: 1%;}
.row { display: block;}

html, body  {margin:0;}

.head {margin-bottom: 5%;}
.contact1 {
  margin: 2.5% 3% 4% 3%;
  width: 45%;
  float: left;
  left: 7%;
}
.contact-img img{width: calc(2em + 3vw);float:left; margin-right: 10px;}
.con-tx-1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: calc(1em + 0.7vw);
  color: #ff7900;
}
.con-tx .con-tx-2 {
  font-family: 'Montserrat Alternates', sans-serif;
  color: rgb(36,36,36);
  font-size: calc(0.4em + 0.7vw);
}
.contact2 {float:right;width:43%;margin: 2% 3% 4% 3%;}
.contact2-img img{float:right;width: calc(2em + 3vw);margin-left: 10px;}
.con-tx-12 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: calc(1em + 0.7vw);
  color: #ff7900;
}
.con-tx2 .con-tx-22 {
  font-family: 'Montserrat Alternates', sans-serif;
  color: rgb(36,36,36);
  font-size: calc(0.4em + 0.7vw);
}

.kurs {
  padding-bottom: 8%;
  margin-bottom: 50px;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, rgba(250,119,0,0.1) 100%);
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  padding-left:7%;padding-right:7%;
}
.kurs-tx {width: 55%; float:left;}

.kurs-tx h2 {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #ff7900;
  font-size: calc(1em + 0.7vw);
}
.kurs-tx p {
  font-family: 'Roboto', sans-serif;
  font-size: calc(0.4em + 0.9vw);
}
.kurs-tx ul {list-style-image: url(./imgs/Galochka.png);margin-top: 5%;}
.kurs-tx ul li {
  font-size: calc(0.5em + 0.7vw);
  padding: 15px 10px;
}
.num1 {display:inline-block; font-size: calc(0.5em + 0.8vw); margin-top: 15px; font-family: 'Roboto', sans-serif; font-weight: lighter;}
.num1-img{float:left;padding-right: 10px; width:calc(0.6em + 0.7vw);}
.num1-tx{float:left;}

.num2 {display:inline-block; font-size: calc(0.5em + 0.8vw); margin-top: 15px; font-family: 'Roboto', sans-serif; font-weight: lighter;}
.num2-img{float:left;padding-right: 10px; width:calc(0.6em + 0.7vw);}
.num2-tx{float:left;}

.num3 {display:inline-block; font-size: calc(0.5em + 0.8vw); margin-top: 15px; font-family: 'Roboto', sans-serif; font-weight: lighter;}
.num3-img{float:left;padding-right: 10px; width:calc(0.6em + 0.7vw);}
.num3-tx{float:left;}
.kurs-img{float:left;}
.kurs-img img {
    width: calc(3em + 20vw);
    margin-left: calc(7vw + 2em);
    border-radius: 10px;
}

.AigerimBatyrkhan {margin-top:calc(2em + 1vw);}
.name-sur .info-tx1 {
  width: 90%;
  font-size: calc(0.4em + 1vw);
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
  margin-left: auto; margin-right: auto;
  margin-bottom: -5px;
}
.name-sur .dotes {
  margin-top: -5px;
  font-size: calc(1em + 2vw);
  font-weight: 1000;
  color: #ff7900;
  margin-bottom: -5px;
}
.name-sur .info-tx2 {
  margin-top: 10px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: calc(1em + 0.8vw);
  font-weight: 500;
  margin-bottom: 0px;
}
.name-sur .info-tx3 {
  margin-top: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: calc(0.5em + 0.8vw);
  font-weight: lighter;
  margin-bottom: 5px;
}
.links a img {
  width: calc(0.5em + 1vw);
  margin: 5px 10px;
}
.opyt-rab {
  float:left;
  width: 60%;
  margin-left: 0;
}
.opyt-img img {
  width: calc(3em + 18vw);
  float:left;
  margin-left: 30px;
  border-radius: 10px;
}
.opyt-img img {
    width: calc(5em + 20vw);
    float:left;
    margin-left: 30px;
    border-radius: 10px;
}
.opyt2-rab {
    width: 50%;
    float: right;
}
.opyt2-img img {
    width: calc(5em + 20vw);
    float:right;
    margin-left: 30px;
    margin-right: calc(2em + 1vw);
    border-radius: 10px;
}
.butons button {
  border: none;
  background: none;
  margin-top: 20px;
  margin-left: 3%;
  font-size: calc(0.5em + 1vw);
}
.kinos {
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  float: left;
  color: #ff7900;
  margin-right: 3%;
}
.dubliaj {
  font-family: 'Roboto', sans-serif;
  font-weight:bold;
  float: right;
  color: grey;
  margin-left: 3%;
  margin-right: 5%;
}
.block1 {margin-left: 5%; width: 70%; float:left;}
.block1 ul {
  list-style-type: none; text-align: left;
}
.block1 ul li {
  font-size: calc(0.35em + 1.5vw);
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight:500;
}
.block2 {margin-left: 5%; display:none; margin-right: 5%;}
.block2 ul {
  list-style-type: none; text-align: left;
}
.block2 ul li {
  font-size: calc(0.35em + 1.5vw);
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight:500;
}
.block12 {float:right; margin-right:calc(1em + 0.5vw); width: 100%; margin-top:calc(2em + 1vw); transition: background 0.5s linear 0s;}
.block12 ul {
    list-style-type: none; text-align: left;
}
.block12 ul li {
    font-size: calc(0.35em + 1.5vw);  
    margin-top: calc(1em + 0.5vw);
    margin-bottom: calc(1em + 0.5vw);
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight:500;
}
.results {
  margin-top: 9%;
}
.results h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 300;
  margin-bottom: 1px;   
  font-size: calc(1em + 1vw);
}
.results .dotes {
  margin-top: 1px;
  font-size: calc(1em + 2vw);
  font-weight: 1000;
  color: #ff7900;
  margin-bottom: 10px;
}
.proofs {margin-left: auto; margin-right: auto;}
.proof1, .proof2, .proof3 {float:left; width: 40%; height: 100px; margin-left: 4%; margin-right: 4%; margin-bottom: calc(1em + 2vw);}
.proof3{display:none;}
.proofs .glava {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: calc(0.7em + 1.2vw);
  margin-left: auto;
  margin-bottom: 3px;
  margin-right: auto;
}
.proofs .dopol {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #404040;
  font-size: calc(0.3em + 0.8vw);
  margin-top: 3px;
}
.back2 {
  padding-bottom: 5%;
  margin-bottom: 150px;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.2) 10%, rgba(250,119,0,0.09) 50%); 
  border-bottom-left-radius: 7%;
  border-bottom-right-radius: 7%;
}
.kurs-barysy {margin-bottom: 10%;}
.kurs-barysy h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: calc(1em + 1vw);
  margin-bottom: 1px;
}
.kurs-barysy .dotes {
  margin-top: 1px;
  font-size: calc(1em + 2vw);
  font-weight: 1000;
  color: #ff7900;
  margin-bottom: 25px;
}
.tab-lis {margin-left: calc(6% + 1.15vw);}
.tab-lis tr {
  float:left;
  width: 40%;
  margin: 10px 3%;
  border: #ff7900 1px solid;
}
.tab-lis .tb-num {
  color: #ff7900;
  font-size: calc(1em + 1vw);
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  padding: 5px 10px;
}
.tab-lis .tb-img {
  padding: 5px 7px;
}
.tab-lis img {
  width: calc(1.4em + 1vw);
}
.tab-lis .tb-tx {
  font-size: calc(0.25em + 1vw);
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  padding: 5px 7px;
}
.tab-lisq {margin-left: calc(6% + 1.15vw);}
.tab-lisq tr {
  float:left;
  width: 40%;
  margin: 10px 3%;
  border: #ff7900 1px solid;
}
.tab-lisq .tb-num {
  color: #ff7900;
  font-size: calc(1em + 1vw);
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  padding: 5px 10px;
}
.tab-lisq .tb-img {
  padding: 5px 7px;
}
.tab-lisq img {
  width: calc(1.4em + 1vw);
}
.tab-lisq .tb-tx {
  font-size: calc(0.25em + 0.9vw);
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  padding: 5px 3px;
}
.kurs-res h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: calc(1em + 1vw);
  margin-bottom: 1px;
}
.kurs-res .dotes {
  margin-top: 1px;
  font-size: calc(1em + 2vw);
  font-weight: 1000;
  color: #ff7900;
  margin-bottom: 25px;
}
.back3 {
  padding-bottom: 5%;
  margin-bottom: 150px;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0.2) 10%, rgba(250,119,0,0.1) 40%); 
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
}
.kurs-paket h1 {
  font-size: calc(1em + 1vw);
  font-family: 'Montserrat Alternates', sans-serif;
  margin-bottom: 1px;
}
.kurs-paket .dotes {
  margin-top: 1px;
  font-size: calc(1em + 2vw);
  font-weight: 1000;
  color: #ff7900;
  margin-bottom: 25px;
}
.pakets {display:none;}
.paket1 {
    width: calc(50.33% + 4vw);
    height: calc(46vw + 3em);
    margin-left: auto; margin-right: auto;
    padding-right: calc(2.5em + 2.5vw);
    padding-left: calc(2.5em + 2.5vw);
    padding-bottom: calc(0.5em + 0.5vw);
    border-radius: 15%;
    box-shadow: 0 0 50px #ff7900;
    transition: background 0.5s linear 0s
}
.paket1 h2 {
    margin-left:auto; margin-right:auto;
    padding-top: calc(7px + 3vw);
    font-size: calc(0.8em + 3.5vw);
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 5px;
}
.tsena1 {
    margin-top: 5px;
    font-size: calc(0.4em + 2vw);
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 1000;
    margin-bottom:5px;
}
.tsena2 {
    margin-top: 5px;
    font-size: calc(0.6em + 2.5vw);
    font-family: 'Montserrat Alternates', sans-serif;
    color: #ff7900;
    font-weight: 1000;
    margin-bottom:10px;
}
.dop-inf1 {
    color: #1a1a1a;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}
.dop-inf1 p{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: calc(0.4em + 1.2vw);
}
.mordop-inf1 {
    font-size: calc(0.4em + 1.7vw);
    font-family: 'Montserrat Alternates', sans-serif;
}
.paket1:hover {background: #ff7900; box-shadow: 0 0 50px grey;}
.paket1:hover h2 {color:white;}
.paket1:hover .tsena2{color:white;}
.paket1:hover .mordop-inf1 {color:white;}

.paket2 {
    width: calc(50.33% + 4vw);
    height: calc(45vw + 3vw);
    margin-left: auto; margin-right: auto;
    padding-right: calc(2.5em + 2.5vw);
    padding-left: calc(2.5em + 2.5vw);
    padding-bottom: calc(0.5em + 0.5vw);
    border-radius: 15%;
    box-shadow: 0 0 50px #ff7900;
    transition: background 0.5s linear 0s
}
.paket2 h2 {
    margin-left:auto; margin-right:auto;
    padding-top: calc(7px + 3vw);
    font-size: calc(0.8em + 3.5vw);
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 5px;
}
.tsena12 {
    margin-top: 5px;
    font-size: calc(0.4em + 2vw);
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 1000;
    margin-bottom:5px;
}
.tsena22 {
    margin-top: 5px;
    font-size: calc(0.6em + 2.5vw);
    font-family: 'Montserrat Alternates', sans-serif;
    color: #ff7900;
    font-weight: 1000;
    margin-bottom:10px;
}
.dop-inf2 {
    color: #1a1a1a;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}
.dop-inf2 p{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: calc(0.4em + 1.2vw);
}
.mordop-inf2 {
    font-size: calc(0.4em + 1.7vw);
    font-family: 'Montserrat Alternates', sans-serif;
}
.paket2:hover {background: #ff7900; box-shadow: 0 0 50px grey;}
.paket2:hover h2 {color:white;}
.paket2:hover .tsena22{color:white;}
.paket2:hover .mordop-inf2 {color:white;}

.paket3 {
    width: calc(50.33% + 4vw);
    height: calc(46vw + 3vw);
    margin-left: auto; margin-right: auto;
    padding-right: calc(2.5em + 2.5vw);
    padding-left: calc(2.5em + 2.5vw);
    padding-bottom: calc(0.5em + 0.5vw);
    border-radius: 15%;
    box-shadow: 0 0 50px #ff7900;
    transition: background 0.5s linear 0s
}
.paket3 h2 {
    margin-left:auto; margin-right:auto;
    padding-top: calc(7px + 3vw);
    font-size: calc(0.8em + 3.5vw);
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 5px;
}
.tsena13 {
    margin-top: 5px;
    font-size: calc(0.4em + 2vw);
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 1000;
    margin-bottom:5px;
}
.tsena23 {
    margin-top: 5px;
    font-size: calc(0.6em + 2.5vw);
    font-family: 'Montserrat Alternates', sans-serif;
    color: #ff7900;
    font-weight: 1000;
    margin-bottom:10px;
}
.dop-inf {
    color: #1a1a1a;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}
.dop-inf3 p{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: calc(0.4em + 1.2vw);
}
.mordop-inf3 {
    font-size: calc(0.4em + 1.7vw);
    font-family: 'Montserrat Alternates', sans-serif;
}
.paket3:hover {background: #ff7900; box-shadow: 0 0 50px grey;}
.paket3:hover h2 {color:white;}
.paket3:hover .tsena23{color:white;}
.paket3:hover .mordop-inf3 {color:white;}
.zakaz-beru {display:none;}
.zakaz-beru2 {
    margin-top: calc(1em + 2vw);
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 5px 7px;
    border-radius: 10px;
    transition: background 0.5s linear 0s;
    box-shadow: 0 0 20px black;
}
.zakaz-beru2 a {text-decoration: none; color: black; font-size: calc(0.2em + 2vw); font-family:'Montserrat Alternates', sans-serif;font-weight: 1000;}
.zakaz-beru2:hover {background: #ff7900; box-shadow: 0 0 30px #ff7900;}
.zakaz-beru2:hover a {color:white;}